@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato&family=Montserrat+Alternates:wght@400;700&family=Montserrat+Subrayada:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Roboto+Slab:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

.main {
  padding: 16px;
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  text-align: center;
}

.section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 12px; */
  /* border: 2px solid red; */
  background-color: pink;
  max-width: 80%;
  height: 80vh;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.25rem;
}

label {
  font-weight: lighter;
  padding: 3px;
  color: #000;
  font-size: 1.15rem;
  margin-bottom: 6px;
}

.allangles {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
}

#update {
  margin: 0 auto;
}

#reset {
  margin-right: 12px;
}

#reset,
#copy {
  color: #fff;
  background-color: #063ecd;
  padding: 6px;
  border-radius: 4px;
  border: none;
  width: 3.75rem;
}

.outputs {
  /* border: 2px solid green; */
  background-color: yellowgreen;
}

.box-container {
  border: 3px solid black;
  margin: 1rem;
  height: 80%;
  background-color: skyblue;
}
